.form {
  width: 430px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 34px 36px 37px 36px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 896px) {
  .form {
    width: calc(100% - 52px * 2);
  }
}

@media screen and (max-width: 544px) {
  .form {
    width: calc(100% - 19px * 2);
  }
}
