.element__like-btn {
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  border: none;
  background-color: #FFFFFF;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
}
